*{box-sizing: border-box;}
html, body
{
	background: #B8E6CD;
	font-family: Lucida Handwriting;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

footer
{
	font-family: Times New Roman;
	font-size: 16px;
}
